# --- Core web / API ---
Django==6.0.1
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0

# --- DB (Postgres) ---
psycopg2-binary==2.9.11

# --- Images / uploads ---
pillow==12.0.0

# --- GelGenie lib (editable install) ---
-e git+https://github.com/mattaq31/GelGenie.git@23fae2fb6ab2ade7149f4e7a76248dba7d9d23a9#egg=GelGenie&subdirectory=python-gelgenie

# --- ML stack ---
torch==2.9.1
torchvision==0.24.1
numpy==2.3.5

#
asgiref==3.11.0
sqlparse==0.5.5
typing_extensions==4.15.0
